[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codecov = "*"
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"

[dev-packages]
flake8 = "*"
codecov = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
