[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codecov = "*"
django = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
codecov = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
