{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Python Pro - Aperitivos{% endblock title %}</title>
{% block description %}Pagina com todos os vídeos gratuitos{% endblock description %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1 class="mt-5 mb-4">Lista de vídeos aperitivos</h1>
                <ol>
                    {% for video in videos %}
                    <li>{{ video.titulo | default:"Faltando título" }}</li>
                    {% empty %}
                    <li>Não foi encontrado nenhum vídeo de aperitivo.</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock body %}