{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %}Python Pro - Home{% endblock title %}</title>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>
                <h4 class="mt-4"> Matrículas abertas! Custo: 100,00 R$</h4>

                <!--                INICIO FORMULARIO MERCADOPAGO-->
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                        data-preference-id="398635037-97e0f292-b5b2-46f7-9f05-eda4c4c70130"
                        data-source="button"></script>
                <!--                FINAL FORMULARIO MERCADOPAGO-->



                <!--            <form action="https://gmail.us20.list-manage.com/subscribe/post?u=9c22f4ae7b5acecae47741677&amp;id=cf750aa0a1"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center" target="_blank" novalidate>-->
                <!--                    <div class="form-row align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"-->
                <!--                                   placeholder="exemplo@email.com">-->
                <!--                        </div>-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-FNAME">Email</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">-->
                <!--                        </div>-->

                <!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                <!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                                  name="b_298725d1b42f74339d8bcc8db_03c8c5bd04"-->
                <!--                                                                                                  tabindex="-1"-->
                <!--                                                                                                  value=""></div>-->


                <!--                        <div class="col-auto">-->
                <!--                            <input type="submit" value="Salvar" name="subscribe"-->
                <!--                                   id="mc-embedded-subscribe" class="btn btn-primary">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                             class="img-thumbnail float-left mr-3"/>
                        Ramalho é sócio e professor na <a href="https://pythonpro.com.br/">Python Pro</a> e autor do
                        Livro <a
                            href="https://www.amazon.com.br/Python-Fluente-Programa%C3%A7%C3%A3o-Concisa-Eficaz/dp/857522462X"
                            target="_blank">Python Fluente</a>.
                        Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                        Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
                        Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                        Globo.com e Itaú.
                        Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a criar a Associação
                        Python Brasil e foi seu presidente.
                        É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace
                        do Brasil.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
